<section id="liveMarkets">
<div class="row-container">
	<ul class="button-group round toggle" data-toggle="buttons-radio">
      <li>
        <input type="radio" id="r1" name="r-group" data-toggle="button">
        <label class="button" for="r1">Left</label>
      </li>
      <li>
        <input type="radio" id="r2" name="r-group" data-toggle="button">
        <label class="button" for="r2">Middle</label>
      </li>
      <li>
        <input type="radio" id="r3" name="r-group" data-toggle="button">
        <label class="button" for="r3">Right</label>
      </li>
    </ul>
</div>
<!-- 
    <div class="row-container">
        <div class="title">3-Way</div>
        <div class="first"><a href="" class="hollow button">1 1.01</a></div>
        <div class="equal"><a href="" class="hollow button">X 18</a></div>
        <div class="second"><a href="" class="hollow button">2 80</a></div>
    </div>
    <div class="row-container">
        <div class="title">3-Way</div>
        <div class="first"><a href="" class="hollow button">1 1.01</a></div>
        <div class="equal"><a href="" class="hollow button">X 18</a></div>
        <div class="second"><a href="" class="hollow button">2 80</a></div>
    </div>
    <div class="row-container">
        <div class="title">3-Way</div>
        <div class="first"><a href="" class="hollow button">1 1.01</a></div>
        <div class="equal"><a href="" class="hollow button">X 18</a></div>
        <div class="second"><a href="" class="hollow button">2 80</a></div>
    </div> -->
</section>