$foreground-color: #fff;
$background-submenu-color: #c6c6c6;
$tabsnav-active-foreground-color: #454545;
$sport-type-menu-background-color: #484848;
$sport-type-menu-item-border-color: #f5f5f5;
$account-info-menu-background-color: #d0202e;
$account-info-menu-item-border-color: #921620;

$live-pitch-background-color: #77a5b4;
$team-names-color: #D9E6EA;