body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  font-size: 12px;
  font-family: Arial, sans-serif, Verdana;
  width: auto;
  padding: 0;
  overflow-x: hidden; }

body ul {
  margin-left: 0; }

body li {
  list-style: none; }

body img.pointLeft {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }

#accountInfoMenu {
  height: 40px;
  padding: 0;
  background: #d0202e; }

#accountInfoMenu li {
  border-right: 1px solid #921620; }

#sportTypeMenu {
  background: #484848;
  padding: 0;
  margin-top: -20px; }

#sportTypeMenu li {
  border-right: 1px solid #f5f5f5; }

#sportTypeMenu li a div {
  text-align: left; }

#sportTypeMenu li a div img {
  margin-top: 13px;
  height: 10px; }

#subMenu {
  background: #c6c6c6;
  padding: 0;
  margin-top: -19px; }

#subMenu li {
  border-right: 1px solid #fff; }

.tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  color: #fff;
  font-size: 16px; }

.tabs-nav#accountInfoMenu {
  height: 50px; }

.tabs-nav#accountInfoMenu li {
  height: 50px; }

.tabs-nav#accountInfoMenu li a {
  line-height: 55px; }

.tabs-nav .tab-nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  height: 40px;
  -webkit-transform: skew(-13.5deg);
  -moz-transform: skew(-13.5deg);
  -ms-transform: skew(-13.5deg);
  -o-transform: skew(-13.5deg); }

.tabs-nav .tab-nav.small-nav {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5; }

.tabs-nav .tab-nav.big-nav {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.tabs-nav .tab-nav.noborder {
  border: none !important; }

.tabs-nav .tab-nav a {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  width: 90%;
  height: 46px;
  text-decoration: none;
  font-size: 12px;
  line-height: 42px;
  color: #fff;
  -webkit-transform: skew(13.5deg);
  -moz-transform: skew(13.5deg);
  -ms-transform: skew(13.5deg);
  -o-transform: skew(13.5deg); }

.tabs-nav .tab-nav a div img.left {
  float: left;
  width: 15px;
  height: 20px;
  margin-top: 17px;
  padding-right: 5px;
  margin-left: -4px; }

.tabs-nav .tab-nav a div span.left {
  float: left;
  padding-left: 5px; }

.tabs-nav .tab-nav a div img.nomargin {
  margin-left: 0; }

.tabs-nav .tab-nav a div img.right {
  float: right;
  width: 15px;
  height: 20px;
  margin-top: 17px;
  padding-left: 5px;
  margin-right: -6px; }

.tabs-nav .tab-nav a div span.right {
  float: right;
  padding-right: 10px; }

.tabs-nav .active {
  color: #454545; }

#liveBetsArea #pitchLive {
  width: 100%;
  background-image: url("../../../img/live/pitch-live.svg");
  background-size: cover;
  height: 0;
  padding-bottom: 47%;
  border: thin dotted darkgrey; }
  #liveBetsArea #pitchLive .arrow {
    position: relative;
    top: -12px;
    left: 12%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 13px 14px;
    border-color: transparent transparent #77a5b4 transparent; }
  #liveBetsArea #pitchLive #matchInfo {
    display: flex;
    flex-direction: row;
    color: #fff; }
    #liveBetsArea #pitchLive #matchInfo .time {
      order: 1;
      flex-grow: 1;
      text-align: center; }
      #liveBetsArea #pitchLive #matchInfo .time :last-child {
        color: #d9e6ea;
        font-size: .6em; }
    #liveBetsArea #pitchLive #matchInfo .teams {
      order: 2;
      flex-grow: 2;
      color: #d9e6ea; }
    #liveBetsArea #pitchLive #matchInfo .score {
      order: 3;
      flex-grow: 1;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600; }
  #liveBetsArea #pitchLive #liveActions {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15%;
    width: 100%; }
    #liveBetsArea #pitchLive #liveActions .team1 {
      display: inline-block;
      width: 50%;
      order: 1;
      padding-left: 5%;
      padding-top: 2%; }
    #liveBetsArea #pitchLive #liveActions .team2 {
      display: inline-block;
      width: 50%;
      order: 2;
      padding-left: 7%; }
  #liveBetsArea #pitchLive #liveActionInfo {
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%; }
  #liveBetsArea #pitchLive .action-type {
    font-size: 1.1em;
    font-weight: 600; }
#liveBetsArea #liveActionInfoBar {
  background-color: #484848;
  color: #d9e6ea;
  padding-left: 5%; }
  #liveBetsArea #liveActionInfoBar span {
    font-size: .8em;
    line-height: 300%; }

#liveMarketsArea #liveMarkets .row-container {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  padding: 4% 0 0 3%;
  justify-content: center;
  align-items: center; }
  #liveMarketsArea #liveMarkets .row-container .title {
    order: 1;
    flex-grow: 2; }
  #liveMarketsArea #liveMarkets .row-container .odds {
    order: 2; }

#main-wrapper {
  position: relative;
  top: -20px; }

/*# sourceMappingURL=main.css.map */
